body {
    background-color: #1C1C1EFF;
}

h1 { 
    color: #F2F2F7FF;
}

h2 {
    color: #F2F2F7FF;
}

h3 {
    color: #F2F2F7FF;
}

h4 {
    color: #F2F2F7FF;
}

h5 {
    color: #F2F2F7FF;
}

h6 {
    color: #F2F2F7FF;
}

img {
    color: #F2F2F7FF;
}